<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main class="container mt-5" style="max-width: 800px;">
    <form th:action="@{/products/submit}" method="post" enctype="multipart/form-data" th:object="${product}" class="shadow-sm p-4 rounded">
        <h1 class="text-center mb-4">Добави продукт</h1>

        <div class="row g-4">
            <div class="col-12">
                <label for="title" class="mb-1">Име на продукта</label>
                <input type="text" th:field="*{title}" id="title" name="title" class="form-control"
                       placeholder="Въведете име">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger mt-1"></div>
            </div>

            <div class="col-12">
                <label for="description" class="mb-1">Описание</label>
                <textarea th:field="*{description}" id="description" name="description" class="form-control"
                          placeholder="Въведете описание"></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger mt-1"></div>
            </div>

            <div class="col-lg-6 col-md-12">
                <label for="category" class="mb-1">Категория</label>
                <select th:field="*{category}" id="category" name="category.id" class="form-control">
                    <option value="">Избери категория</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger mt-1"></div>
            </div>

            <div class="col-12">
                <h3 class="mb-2">Размери и наличности</h3>
                <div id="sizes-container" class="mb-3">
                </div>
                <button type="button" onclick="addSizeRow()" class="btn btn-dark">Добави размер</button>
                <div th:if="${areSizesEmpty}" class="alert alert-danger mt-2" role="alert">
                    Полето е задължително
                </div>
                <div th:if="${wrongSizeDetails}" class="alert alert-danger mt-2" role="alert">
                    Невалидни размири или наличности
                </div>
            </div>

            <div class="col-12">
                <label for="images" class="mb-1">Качи снимки</label>
                <input type="file" id="images" name="images" multiple class="form-control"
                       accept="image/png, image/gif, image/jpeg"/>
                <div id="mainImageSection" class="mt-3" style="display: none;">
                    <p>Изберете основната снимка</p>
                    <div id="mainImageOptions"></div>
                </div>
                <div th:if="${!areImagesSelected}" class="alert alert-danger mt-2" role="alert">
                    Полето е задължително
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <label for="price" class="mb-1">Цена</label>
                <input type="number" th:field="*{price}" id="price" name="price" class="form-control"
                       placeholder="Цена">
                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger mt-1"></div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-dark w-100">Запази продукта</button>
            </div>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/footer}"></footer>

<script>
    function addSizeRow() {
        const sizeRow = document.createElement('div');
        sizeRow.innerHTML = `
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <input type="text" name="sizes" placeholder="Size" class="form-control mb-2">
            </div>
            <div class="col-lg-6 col-md-12">
                <input type="number" name="quantities" placeholder="Quantity" class="form-control mb-2">
            </div>
        </div>
        `;
        document.getElementById('sizes-container').appendChild(sizeRow);
    }
</script>
</body>
</html>
