<nav class="navbar navbar-expand-lg bg-dark" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid" style="max-width: 1000px;">
        <a class="navbar-brand" href="/">
            <h2 class="mr-4 text-light" style="font-weight: bold;">AC</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Начало</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div sec:authorize="isAnonymous" class="d-flex gap-2">
                    <button class="btn btn-outline-light" onclick="window.location.href='/sign-in';">Вход</button>
                    <button class="btn btn-light" onclick="window.location.href='/sign-up';">Регистрация</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownToggle = document.getElementById('dropdownMenuLink');
        const dropdownMenu = document.querySelector('.dropdown-menu');
        dropdownToggle.addEventListener('click', function (event) {
            event.preventDefault();
            if (dropdownMenu.classList.contains('show')) {
                dropdownMenu.classList.remove('show');
            } else {
                dropdownMenu.classList.add('show');
            }
        });
    });
</script>